@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 212 100% 97%;
    --foreground: 213 80% 20%;
    --card: 0 0% 100%;
    --card-foreground: 213 80% 20%;
    --primary: 207 90% 54%;
    --primary-foreground: 0 0% 100%;
    --muted: 212 100% 95%;
    --muted-foreground: 213 45% 45%;
    --border: 213 40% 90%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
